{% extends "layout.html" %} 


{% block content %}

{% if session.username %}
<p>Tervetuloa, {{ session.username}}!</p>
{% if session.role==1%}
<p>Olet kirjautunut sisään ylläpitäjänä.</p>
{% endif %}
    <br><br><br>
    {% if all_posts %}
    <p>Viestit:</p>
    <hr>
        {% for post in all_posts %}
        <b style="color: rgb(68, 44, 0);font-size:22px;">{{ post[0] }}</b>
        <p2 style="color: rgb(49, 190, 255);font-size:16px;">{{ post[3] }}</p2>
           <br><br>
           
           {{post[1]}}
            <hr>
            {% endfor %}
        {% endif %}

    <br><br>
    <a href="/new_post">Aloita uusi keskustelu</a>
    <br><br>
    
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <p>
        <a href="/login">Kirjaudu sisään</a>
        käyttääksesi palvelua,</p>
    <p>tai 
        <a href="/register">luo käyttäjä</a>
        , jos olet täällä ensimmäistä kertaa
    </p>

    {% endif %}
    {% include "layout_snake.html" %} 
    {% endblock %}