{% extends "layout.html" %} 


{% block content %}
{% if session.username %}

<p style="color :rgb(6, 177, 0); font-size:28px">Tervetuloa, {{ session.username}}!</p>

    {% if session.role==1%}
        Olet kirjautunut sisään ylläpitäjänä.
    {% endif %}
<br>
<a href="/quote">Lisää itsellesi allekirjoitus</a>
<br>
<a href="/new_post">Aloita uusi keskustelu</a>
<br>
<a href="/logout">Kirjaudu ulos</a>

<br><br>

    <br><br>
    {% if all_posts %}
    <p>Keskustelut:</p>
    <hr>
        {% for post in all_posts %}
            {% if post[4]%}
                <a href="/post/{{post[0]}}" style="color :rgb(6, 177, 0); font-size:22px">{{post[1]}}</a>
                <p2 style="color: rgb(49, 190, 255);font-size:16px;">{{ post[5] }}</p2>
                <br><br>
                {{post[2]}}
                <br>
                
                <br>
                {% for quote in quotes%}
                    {% if quote[1] == post[3]%}
                    <i style="color: rgb(84, 69, 48);font-size:16px;">"{{ quote[0] }}" </i>
                    {% endif %}
                {% endfor %}

                {% if session.role==1 or session.id==post[3]%}
                    <form action="/delete_post" method="POST">
                    <input type="hidden" name=post_id value={{post[0]}}>
                    <input style="font: size 10px;" type="submit" value="Poista viesti">
                    </form>
                {% endif %}
                <hr>  
            {% endif %}
        {% endfor %}
        {% endif %}

    {% else %}
    <p>
        <a href="/login">Kirjaudu sisään</a>
        käyttääksesi palvelua,</p>
    <p>tai 
        <a href="/register">luo käyttäjä</a>
        , jos olet täällä ensimmäistä kertaa
    </p>

    {% endif %}
    {% include "layout_snake.html" %} 
    {% endblock %}