<!doctype html>

<hr>
<pre>
  <a href="/" style="color :rgb(102, 86, 55)">  ██████╗ ███████╗███████╗████████╗███████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ███╗
    ██╔══██╗██╔════╝██╔════╝╚══██╔══╝██╔════╝██╔═══██╗██╔══██╗██║   ██║████╗ ████║
    ██████╔╝█████╗  ███████╗   ██║   █████╗  ██║   ██║██████╔╝██║   ██║██╔████╔██║
    ██╔══██╗██╔══╝  ╚════██║   ██║   ██╔══╝  ██║   ██║██╔══██╗██║   ██║██║╚██╔╝██║
    ██████╔╝███████╗███████║   ██║   ██║     ╚██████╔╝██║  ██║╚██████╔╝██║ ╚═╝ ██║
    ╚═════╝ ╚══════╝╚══════╝   ╚═╝   ╚═╝      ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝</a>
</pre>
<hr>
<style>
body {
  font-size: 120%;
  background-color: rgb(255, 240, 217);
  color: rgb(102, 86, 55);
     }
  </style>   
</body>
{% block content %}
{% endblock %}