{% extends "layout.html" %} 
{% block content %}

<a href="/">Etusivu</a>



<form method="POST" id="account" action="/account">
  <input type="hidden" name=user_id value={{session.id}}>
  <a href="#" onclick="document.getElementById('account').submit();"> Omat tiedot </a>
</form>
<a href="/logout">Kirjaudu ulos</a>
<br>
<br>
{% for topic in topics %}
  <a href="/topic/{{topic[0]}}">{{topic[1]}}</a>&nbsp;&nbsp;
{% endfor %}
<br>
<a href="/post/{{random_post_id[0]}}">Satunnainen keskustelu</a>
<br>
<hr>

{% for username in usernames %}
  {%if post[3] == username[0]%}
    <p style="color: rgb(45, 173, 13); display: inline">{{username[1]}}</p>
  {%endif%}
{%endfor%}
<p2 style="color: rgb(45, 173, 13);font-size:38px;">{{ post[1] }}</p2>
<br><br>
<p2 style="white-space: pre-line; color: rgb(141, 98, 4);font-size:22px;">{{ post[2] }}</p2>
<br><br>
<p2 style="color: rgb(100, 168, 180);font-size:16px;">{{ post[5] }}</p2>
<br>
{% for quote in quotes%}
  {% if quote[1] == post[3]%}
    <i style="color: rgb(84, 69, 48);font-size:16px;">"{{ quote[0] }}" </i>
  {% endif %}
{% endfor %}
<hr>
{% for comment in comments %}
  {% if comment[2]%}
    <br>
    {% for username in usernames %}
      {%if comment[3] == username[0]%}
        <p style="color: rgb(45, 173, 13); display: inline">{{username[1]}}</p>
      {%endif%}
    {%endfor%}
    <p2 style="white-space: pre-line; color: rgb(141, 98, 4);font-size:22px;">{{comment[1]}} </p2>
    <br><br>
    <p2 style="color: rgb(100, 168, 180);font-size:16px;">{{comment[5]}}</p2>
      {% if session.role==1 or session.id==post[3] or session.id==comment[3]%}
        <br><br>
        <form action="/delete_comment" method="POST">
          <input type="hidden" name=comment_id value={{comment[0]}}>
          <input type="hidden" name=post_id value={{post[0]}}>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <input style="font: size 10px;" type="submit" value="Poista kommentti">
        </form>
      {% endif %}
    <hr>
  {% endif %}
{% endfor %}

<br><br><br>
<form action="/new_comment" method="POST">
  <fieldset>
    <legend>Lisää kommentti: </legend>
    <br>
    <textarea #id="text" name="content" rows="10" cols="80"></textarea>
    <br><br><br>
    <input type="submit" value="Lisää kommentti">
    <input type="hidden" name=user_id value={{session.id}}>
    <input type="hidden" name=post_id value={{post_id}}>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
    <br>
  </fieldset>    
</form>

{% include "layout_trees.html" %}
{% endblock %}