{% extends "layout.html" %} 
{% block content %}
<a href="/">Etusivu</a>



<form method="POST" id="account" action="/account">
  <input type="hidden" name=user_id value={{session.id}}>
  <a href="#" onclick="document.getElementById('account').submit();"> Omat tiedot </a>
</form>
<a href="/logout">Kirjaudu ulos</a>
<br>
<br>
{% for topic in topics %}
  <a href="/topic/{{topic[0]}}">{{topic[1]}}</a>&nbsp;&nbsp;
{% endfor %}
<br>
<a href="/post/{{random_post_id[0]}}">Satunnainen keskustelu</a>
<br>
<hr>
<p2 style="color: rgb(97, 66, 40);font-size:84px;">{{topic_name[0]}}</p2>
<br>
<br>
<a href="/new_post">Aloita uusi keskustelu</a>
<br>

{% if all_posts %}
  <p>Keskustelut:</p>
  <hr>  
  {% for post in all_posts %}
    {% if topic_id==post[6] %}
      {% for username in usernames %}
        {%if post[3] == username[0]%}
        <p style="color: rgb(45, 173, 13); display: inline">{{username[1]}}</p>
        {%endif%}
      {%endfor%}
        <a href="/post/{{post[0]}}" style="color :rgb(6, 177, 0); font-size:22px">{{post[1]}}</a>
        <p2 style="color: rgb(49, 190, 255);font-size:16px;">{{post[5]}}</p2>
        <br><br>
        <p2 style="white-space: pre-line;">{{post[2]}}</p2>
        <br><br>
        {% for quote in quotes%}
          {% if quote[1] == post[3]%}
            <i style="color: rgb(84, 69, 48);font-size:16px;">"{{ quote[0] }}" </i>
          {% endif %}
        {% endfor %}
        {% if session.role==1 or session.id==post[3]%} 
          <form action="/delete_post" method="POST">
            <input type="hidden" name=post_id value={{post[0]}}>
            <input style="font: size 10px;" type="submit" value="Poista viesti">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          </form>
        {% endif %}     
        <hr>             
      {% endif %}
  {% endfor %}
{% endif %}
{% include "layout_trees.html" %} 
{% endblock %}